@font-face {
    font-family: "Champagne And Limousines";
    src: url("fonts/ChampagneAndLimousines/ChampagneAndLimousinesBoldItalic-dqex.ttf") format("truetype");
}

@font-face {
    font-family: "Bornspeed";
    src: url("fonts/Bornspeed/Bornspeed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Esquina";
    src: url("fonts/esquina-rounded.ttf") format("truetype");
}

