@media screen and (max-width: 1024px){
  .main2 {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  .main2 .main2_item1 {
      width: 100%;
      height: auto;
  }
  .main2_item1_text{
      font-size: 24px;
  }
  .main2_item1_text1{
      font-size: 28px;
  }
  .main2_price{
      height: auto;
  }
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
  .main_item1{
      font-size: 24px; 
  }
  .main_item2{
      font-size: 28px;
  }
}
