@media screen and (max-width: 1024px){
    .card{
        min-width: 300px;
        min-height: 400px;
    }
     .main2_item2{
        width: 40%;
    }
    .main2_item2_block1{
        font-size: 28px;
        margin-top: 4%;
    }
    .main2_item2_block2{
        margin-top: 8%;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px){
    .menu, li{
        display: block;
    }
}
